$side-margin: 20px;
$center-percent: 25%;
$phone-page-width: 620px;
#nav-bar{
  background-color: #88c9ff;
  height: 70px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 0px auto;
  justify-content: space-between;
}

#nav-selections{
  position: relative;
  top: $center-percent;
  margin-right: $side-margin;
  a{
    color: aliceblue;
    margin-left: 15px;
  }
  a:hover{
    cursor: pointer;
  }
}

#website-logo{
  position: relative;
  top: 10%;
  margin-left: $side-margin;
  color: white;
  text-transform: lowercase;
}

#website-logo:hover{
  cursor: default;
}

.colour-orange{
  color: #b244ff;
}

.book-logo{
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 20%;
}

#phone-book-logo{
  display: none;
}

@media only screen and (max-width: $phone-page-width){
  #website-logo{
    display: none;
  }
  #phone-book-logo{
    display: block;
    bottom: 0%;
    top: $center-percent;
    margin-right: 15px;
  }
}