$init-form-width: 800px;

.base-form{
  width: $init-form-width;
  margin: 50px auto;
  padding: 2px 20px 20px 20px;
  background-color: orange;
  border-radius: 5px;
}

.error-msg{
  color: red;
}

.success-disp{
  width: 300px;
  background-color: #89ef66;
  height: 80px;
  margin: 20px auto;
  text-align: center;
  border-radius: 5px;
}

.success-msg{
  color: #657a76;
}

@media only screen and (max-width: #{$init-form-width+100px}) {
  .base-form{
    width: 90%;
  }
}