{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {% for book in books %}
    <div class="book-section">
        <h3>{{ book.title }}</h3>
        <p>Author: {{ book.author }}</p>
        <p>Year Published: {{ book.year_published }}</p>
        <p>ISBN: {{ book.isbn }}</p>
        <p>
            <a class="btn btn-info btn-xs" href="{{ url_for('write_review', isbn=book.isbn)}}">Write Review</a>
            <a class="btn btn-info btn-xs" href="{{ url_for('view_reviews', isbn=book.isbn)}}">View Reviews</a>
        </p>
    </div>
    {% endfor %}
{% endblock %}