<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}"/>
    <title>Books Review</title>
</head>
<body>
    <div id="nav-bar">
        <h1 id="website-logo">Book<span class="colour-orange default-cursor">Review</span>Deluxe
        <img
            src="{{ url_for('static', filename='images/book-3.png') }}"
            alt="book icon"
            class="book-logo"
        /></h1>
        <div id="nav-selections">
            <a>Home</a>
            <a>Register</a>
            <a>Log In</a>
        </div>
        <img
            src="{{ url_for('static', filename='images/book-3.png') }}"
            alt="book icon"
            class="book-logo default-cursor"
            id="phone-book-logo"
        />
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>